@charset "utf-8";
/* CSS Document */

div {
    background-image: url(../images/bg01.png);
}

table {
    margin-left: 12px;
}

#btn_toggle {
    display: none;
}

/*需设置article高度，各页面根据背景图宽度不同*/
article {
    height: 380px;
    overflow: auto;
}

/*
设置左侧转折mark所在表格border-image属性：
url：背景图片
10 0：四个方向上的背景显示高度或宽度，上下显示10px，左右不剪裁
10px 0px：四个边框宽度
重复性：默认值 stretch 可写在最后
*/
#action {
    border-image: url(../navigate/images/images/btn_10.png) 10 0/10px 0px;
    -moz-border-image: url(../navigate/images/images/btn_10.png) 10 10/10px 27px;
    -webkit-border-image: url(../navigate/images/images/btn_10.png) 10 0/10px 0px;
    width: 53px;
}

/*设置table属性，否则border-image无效*/
table {
    border-collapse: separate;
}

/*左侧td设置border-image后，可能撑高表格，设置最后一行样式*/
tr:last-child td {
    padding-top: 0px;
    padding-bottom: 15px;
}

td {
    color: #24305d;
    font-size: 24px;
    font-weight: bold;
}

#current_car {
    /*margin-left: 5px;*/
}

.long_bg {
    background-image: url(../navigate/images/subsection_images/btn_09.png);
    width: 493px;
    height: 49px;
}

.short_bg {
    background-image: url(../navigate/images/subsection_images/btn06.png);
    width: 153px;
    height: 49px;
}

.long_bg, .short_bg {
    padding-left: 30px;
    padding-top: 6px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 6px;
}

